html {
  font-size: 1em;
  line-height: 1.4;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:visited {
  color: #142c5d;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #010065;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding: 30px 50px;
  box-sizing: border-box;
  width: 100%;
}

.header-bottom {
  background-color: #1209D9;
  height: 15px;
  width: 100%;
}

.content {
  height: 100%;
  max-width: 1290px;
  align-self: center;
}

.link-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.link-item {
  flex: 0 0 28%;
  font-size: 20px;
  color: #142c5d;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #143b93;
  margin: 20px;
  cursor: pointer;
  transition: opacity .3s;
  opacity: 1;
}

.link-item:hover {
  opacity: 0.5;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.link-item a {
  display: flex;
  flex-direction: column;
}

.link-icon {
  max-width: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.caption {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #010065;
  height: 100px;
}